.posts {
    width: 800px;
    border: 1px solid black;
}

.posts h1 {
    font-size: 50px;
    margin: 30px;
}

.new_post {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.search input {
    width: 730px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.new_post input {
    width: 730px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.posts_list {
    padding: 10px;
}

.posts_list__inner {
    padding: 10px;
    border-radius: 15px;
    margin: 20px 0;
}