.sidebar {
    margin: 0;
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sidebar:hover {
    width: 250px;
}

.sidebar_user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar_user_logo img {
    margin: 30px 10px;
    width: 50px;
    padding: 5px;
    border-radius: 15px;
    background-color: #c6c6c6;
}

