body {
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
}

section {
  padding: 70px;
}

input:focus {
  outline: none;
}

a,
p,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: black;
  background-color: none;
  text-decoration: none;
  transition: 0.1s;
}

a:hover, button:hover {
  cursor: pointer;
}