.light {
  --background-color: #c6a0a0;
  --text-color: black;
  --components-background-color: #ad6464;
}

.dark {
  --background-color: #3d3d3d;
  --text-color: #ababab;
  --components-background-color: #252525;
}

body {
  margin: 0;
  padding: 0;
  font-size: none;
  background-color: var(--background-color);
}

section {
  margin-left: 100px;
  background-color: var(--components-background-color);
}

div {
  background-color: var(--components-background-color);
}

button,
p, 
a, 
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--text-color);
}

button,
input {
  background-color: var(--background-color);
}