.task {
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
}

.task_list {
    margin-top: 50px;
}

.task_list__inner {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_important_true {
    background-image: url('../../assets/icons/icon_important_true.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.btn_important_false {
    background-image: url('../../assets/icons/icon_important_false.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.btn_complete_true {
    background-image: url('../../assets/icons/icon_complete.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.btn_complete_false {
    background-image: url('../../assets/icons/icon_complete_false.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.btn_remove {
    background-image: url('../../assets/icons/remove.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.task_completed {
    text-decoration: line-through;
    color: gray;
}

.btn_task_add {
    width: 400px;
    height: 40px;
    background-color: white;
    border: none;
    background-color: none;
    border-radius: 10px;
    border: 1px solid gray
}

.btn_task {
    width: 35px;
    height: 35px;
    margin: 0 15px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    background-color: white;
    transition: 0.2s;
}

.modal_task {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.modal_task_text {
    width: 600px;
}

.modal_task_setting {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
}

.modal_title {
    margin: 20px 0;
    width: 100%;
    height: 30px;
    border-radius: 10px;
}

.modal_body {
    margin: 20px 0;
    width: 100%;
    height: 100px;
    border-radius: 10px;
}

